/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');



/* Título do sistema (cabeçalho) */
#header{
    height: 70px;

}

#logo{
    padding-bottom: 100px;
    float: left; 
}

#container-main{
    padding-top: 40px;
    background: rgb(255,3,3);
    background:linear-gradient(to right,#ff0000,#ff5500,#fff400);
    
}

/* Imagem principal da página */
#car-illustration{

    width: 250px;
    height: 250px;
    margin-right: 10px;
}

/* Formatação da fonte da lista */
td {
    font-size: larger;
}

/* Propriedades dos veículos da lista (Veículo, Placa) */
#form-div{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 2vh;
}

#modelo, #placa {
    font-weight: 600;
    border-radius:.25rem
}

#modelo:focus, #placa:focus{
    color:#495057;
    background-color:#fff;
    outline:0;
    box-shadow:0 0 0 .1rem rgba(0,123,255,.25)
}

#cadastrar{
    border: 2px solid#002447;
    background-color:#14213D;
    color:white;
    font-weight: 600;
}
#cadastrar:hover {
    border: 2px solid white;
    background-color: #467599;
    color: #fafafa;
    font-weight: 600;
}

/* Pesquisa */
#search-form{
    display: block !important;
    text-align: center !important; 
    background-color: #002447;
}
#search-input{
    width: 400px;
}


/* Botão e ícone de tempo */
#time-button {
    background-color: #1D3354;

}#time-button:hover {
    background-color: #294570;
}

/* Botão e ícone de exclusão */
#clear-button {
    background-color: #d61500;
}#clear-button:hover {
    background-color: #df2e1a;
}

#table-btn{
    width: 20px;
    height: 20px;
}


/* Responsividade */
@media screen and (max-width: 816px){
    #car-illustration{
        display: none
    }
}


@media screen and (max-width: 580px){
    #search-input{
        width: 450px;
        justify-content: center;
    }
}

